<style>
.button_js {
          min-width: 100px;
          font-family: inherit;
          appearance: none;
          border: 0;
          border-radius: 5px;
          background: #4676d7;
          color: #fff;
          padding: 8px 16px;
          font-size: 1rem;
          cursor: pointer;
          margin: 5px;
        }

        .button_js:hover {
          background: #1d49aa;
        }
        
        .button_js:disabled {
            background: gray;
        }
        
</style>

{% extends "base_app.html" %}


{% block title %}
    Посмотреть информацию о пользователе
{% endblock %}

{% block header %}
    <div class="header">
        <h1>Посмотреть информацию о пользователе</h1>
        <button onclick="document.location='{% url 'reload_start'%}'">Назад</button>
    </div>
{% endblock %}


{% block content %}
    
<button class="button_js" name="user" type="submit" onclick="myFunction()">Выбрать пользователя</button>
<form method="POST" action={% url 'select_user_intern' %}>
    <button disabled class="button_js" type="submit" name="user" id="getInfoButton">Показать информацию о пользователе</button>
</form>

{% endblock %}


{% block scripts %}
    <script src="//api.bitrix24.com/api/v1/"></script>
    <script>
    function myFunction() {
        return BX24.selectUser(function (res) {
            document.getElementById("getInfoButton").value = res['id'];
            document.getElementById("getInfoButton").disabled = false;
        })
    }
</script>
{% endblock %}