{% extends "base_app.html" %}

{% block title %}
    Робот возвращает вакансии компании IT-Солюшнс с hh.ru
{% endblock %}

{% block header %}
    <div class="header">
        <h1>Робот возвращает вакансии компании IT-Солюшнс с hh.ru</h1>
        <button onclick="document.location='{% url 'reload_start'%}'">Назад</button>
    </div>
{% endblock %}

{% block content %}
    <div>
        <form action="{% url 'bitrix_robot_vacancies:install_robot' %}" method="POST">
            <button class="c-button">Установить</button>
        </form>

        <form action="{% url 'bitrix_robot_vacancies:uninstall_robot' %}" method="POST">
            <button class="c-button">Удалить</button>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script src="//api.bitrix24.com/api/v1/"></script>
{% endblock %}
{% load static %}
