{% extends "base_app.html" %}

{% block title %}
    Title
{% endblock %}

{% block header %}
    <div class="header">
       <h1>Импорт данных из гугл-таблицы</h1>
        <button onclick="document.location='{% url 'reload_start'%}'">Назад</button>
    </div>
{% endblock %}

{% block content %}
<div>
        <table>
          <tr>
            <th>Название</th>
            <th>Количество</th>
          </tr>
          {% for name, count in object_count.items %}
          <tr>
            <td>{{ name }}</td>
            <td>{{ count }}</td>
          </tr>
          {% endfor %}
        </table>
</div>
{% endblock %}
